
.App {
  width: 90vw;
  margin: auto;
  text-align: center;
}

.leftPart {
  float: left;
  width: 25vw;
}

form {
  background-color: lightgray;
  color: black;
}

.rightPart {
  float: right;
  width: 40vw;
  margin: auto;
  margin-right: 25vw;
 
}

table {
  width: 52vw;
  background-color: rgb(241, 233, 237);
  margin-left: 6vw;
}

table td {
  padding: 1vw;
  color: black;
  width: 8vw;
  margin: auto;
}

table th {
  padding: 1vw;
  color: purple;
  width: 8vw;
  margin: auto;
}

table tr {
  width: 40vw;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: black;
}



tr :nth-child(5) {
  width: 25vw;

}

.header {
  font-family: cursive;
  font-size: x-large;
  color: purple;
}

#nav-bar{display: flex;}
/* 

.App {
  width: 90vw;
  
  /* min-height: 80vh;
  margin: auto;
  text-align: center;
  }
  
  .leftPart {
   float: left;
   width: 35vw; 
   height: fit-content;
   
  }
  .rightPart{
    float: right;
    margin: auto;
    min-height: 80vh;
    width: 55vw; 
    background-color: rgb(199, 151, 177);
    margin-top: 13vh;
  }
  
  table td{
    padding: 1vw;
    color: aquamarine;
  width: 7vw;
  } 
  table th {
    padding: 1vw;
    color: rgb(124, 238, 89);
  
    width: 7vw;
  }
  table tr{ 
    width: 40vw;
    display: flex;
    justify-content:space-between;
    
  
  }
  
  tr :nth-child(3){
    width: 5vw;
  }
  tr :nth-child(5),tr :nth-child(6){
  width: 12vw;
  }
  .header{
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: x-large;
  color: purple;
  
  } */
